*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  background-color: #e2d1c3;
}

header {
  height: 10vh;
  display: flex;
  align-items: center;
  background: linear-gradient(to top, #e2d1c3, #fdfcfb);
  img {
    width: 12rem;
  }
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 10vh;
  width: 70vw;
  ul {
    list-style: none;
  }
  li {
    display: inline-block;
    padding: 1rem;
  }
  a {
    position: relative;
    padding: 0.5rem;
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    transition: all 0.5s;
    &:hover {
      color: coral;
      width: 100%;
    }
    &:after {
      position: absolute;
      width: 0%;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      content: "";
      color: transparent;
      background:coral;
      height: 2px;
    }
    &:hover:after {
      width: 100%;
    }
    &:after,
    &:before {
      transition: all 0.5s;
    }
  }
}
