*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  background-color: #e2d1c3;
}

header {
  height: 10vh;
  display: flex;
  align-items: center;
  background: linear-gradient(to top, #e2d1c3, #fdfcfb);
  img {
      width: 12rem;
  }
}

nav {
    display: flex;
    align-items: center;
    height: 10vh;
    width: 70vw;
    ul {
        list-style: none;
    }
    li {
        display: inline-block;
    }
    a {
        text-decoration: none;
        color: black;
    }
}
